body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  align-items: right;
  color: white
}

.title-live {
  align-items: center;
}

.tbl-cell {
  background-color: black;
  color: white;
  width: 100px;
}
/*
.board-box {
  border: 5px;
  border-color: white;
} */


.width {
  background-color: red;
}